.Product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
    padding: 1rem;
    margin: 2rem;
    width: 20%;
    max-width: 400px;
    min-width: 300px;
}

.Product__category, .Product__info {
    padding: 0.5rem;
}

.Product__image {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.Product__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Product__name, .Product__price {
    margin: 0.25rem 0;
}

.Product__price {
    font-size: 1.25rem;
}

.Product__button {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    margin: 0.5rem;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Product__button:hover {
    background-color: lightgreen;
    color: black;
}

.Product__inCart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
    padding: 2rem;
    margin: 1rem;
    width: 60%;
}

.Product__inCart__image {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.Product__inCart__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.Product__inCart__name {
    font-weight: lighter;
}

.Product__inCart__price, .Product__inCart__itemTotal {
    font-size: 1.25rem;
}

.Product__inCart__itemTotal {
    font-weight: bold;
}

.Product__inCart__container {
    display: grid;
    place-items: center;
}

.Product__inCart__label {
    background-color: whitesmoke;
    font-size: 0.8rem;
    padding: 0.25rem;
    border-radius: 5px;
}

.Product__inCart__quantity__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product__inCart__button {
    padding: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Product__inCart__button:hover {
    background-color: black;
    color: white;
}

.Product__inCart__quantity {
    border: 1px solid black;
    padding: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}