.Product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
    padding: 2rem 1rem;
    margin: 2rem;
    width: 20%;
    max-width: 400px;
    min-width: 300px;
}

.Product__category, .Product__info {
    padding: 0.5rem;
}

.Product__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Product__name, .Product__price {
    margin: 0.25rem 0;
}

.Product__price {
    font-size: 1.25rem;
}