.Product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
    padding: 1rem;
    margin: 2rem;
    width: 300px;
    height: auto;
    min-width: 300px;
}

.Product__category, .Product__info {
    padding: 0.5rem;
}

.Product__image, .Product__inCart__image, .Product__details__image {
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    overflow: hidden;
}

.Product__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Product__name, .Product__inCart__name, .Product__details__name {
    font-family: Ikaros;
}

.Product__name, .Product__price {
    margin: 0.25rem 0;
}

.Product__price {
    font-size: 1.25rem;
    margin: 1rem 0;
}

.Product__inCart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
    background-color: white;
    padding: 2rem;
    margin: 1rem auto;
    width: 80%;
}

.Product__inCart__info, .Product__details__main__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.Product__inCart__price, .Product__inCart__itemTotal, .Product__details__category, .Product__details__price {
    font-size: 1.25rem;
}

.Product__inCart__itemTotal {
    font-weight: bold;
}

.Product__inCart__container, .Product__details__main__container {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0 1rem;
}

.Product__inCart__label, .Product__details__label {
    background-color: whitesmoke;
    font-size: 0.8rem;
    padding: 0.25rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.Product__inCart__quantity__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Product__inCart__quantity {
    padding: 0.5rem 0;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

.Product__details {
    width: 80%;
    min-width: 300px;
    margin: auto;
}

.Product__details__main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
    padding: 2rem;
    margin: 1rem auto;
    width: 100%;
}

.Product__details__container {
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
    padding: 2rem;
    margin: 1rem auto;
    width: 100%;
}

.Product__details__label {
    display: inline;
}

.Product__details__stock, .Product__details__description, .Product__details__manufacturer {
    margin: 1rem 0.25rem;
}

@media only screen and (max-width: 1250px) {

    .Product__details {
        width: 90%;
    }
}

@media only screen and (max-width: 1100px) {

    .Product__inCart {
        width: 90%;
    }

    .Product__details {
        width: 95%;
    }
}

@media only screen and (max-width: 1050px) {

    .Product__details {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1rem;
    }

    .Product__details__main {
        justify-content: space-evenly;
    }

    .Product__details__main__info {
        flex-direction: column;
        justify-content: center;
        width: auto;
    }

    .Product__details__main__container {
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 1000px) {

    .Product__inCart {
        width: 95%;
    }
}

@media only screen and (max-width: 950px) {

    .Product__inCart {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 1rem;
        width: 300px;
    }

    .Product__inCart__info {
        display: block;
    }

    .Product__inCart__container {
        margin: 1rem;
    }
}

@media only screen and (max-width: 700px) {

    .Product__details__main {
        flex-direction: column;
        justify-content: center;
    }

    .Product__details__main__info {
        padding: 0;
    }
}

@media only screen and (max-width: 400px) {

    .Product {
        margin: 1.5rem auto;
    }
}

@media only screen and (max-width: 350px) {

    .Product {
        margin: 1rem auto;
        padding: 0.5rem;
        width: 250px;
        min-width: 250px;
    }

    .Product__inCart {
        padding: 0;
        width: 250px;
    }

    .Product__details {
        padding: 0;
        width: 250px;
        min-width: 250px;
    }

    .Product__details__main {
        padding-top: 0;
    }
}