.Profile {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
}

.Profile__title, .Profile__form__title {
    text-align: center;
}

.Profile__form {
    display: grid;
    place-items: center;
    margin: 2rem;
}

.Profile__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 1000px;
    min-width: 300px;
    margin: 1rem auto;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
}

.Profile__container > * {
    margin: 0.25rem 0;
}

@media only screen and (max-width: 500px) {

    .Profile {
        padding: 2rem 0;
    }

    .Profile__form {
        margin: 1rem auto;
        padding: 0;
        width: 95%;
        min-width: 200px;
    }
}