.Cart {
    min-height: 100vh;
    margin: auto;
    background-color: whitesmoke;
    padding: 2rem;
    width: 100%;
}

.Cart__success {
    font-size: 3rem;
    text-align: center;
}

.Cart__form {
    margin: 0.25rem auto;
    padding: 2rem;
    width: 80%;
    min-width: 300px;
}

.Cart__address, .Cart__payment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Cart__address__heading, .Cart__payment__heading {
    text-align: center;
    margin: 1rem 0;
}

.Cart__payment__heading {
    margin-top: 3rem;
}

.Cart__label, .Cart__input {
    width: 100%;
}

.Cart__input {
    border: 1px solid black;
    padding: 0.75rem;
    border-radius: 5px;
    margin: 0.5rem;
    background: white;
}

.Cart__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

.Cart__items__heading {
    text-align: center;
    margin-bottom: 2rem;
}

.Cart__info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    padding: 1.5rem;
}

.Cart__info__details {
    margin: 1rem;
}

.Cart__shipping, .Cart__tax, .Cart__subtotal, .Cart__total {
    font-size: 1.25rem;
    text-align: center;
    margin: 0.5rem 0.25rem;
}

.Cart__total {
    border: 1px solid black;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    background: white;
}

.Cart__checkout__button {
    min-width: 200px;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    margin: 0.5rem;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Cart__checkout__button:hover {
    background-color: lightseagreen;
    color: black;
}

@media only screen and (max-width: 1100px) {

    .Cart__form {
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {

    .Cart__form {
        width: 95%;
    }
}

@media only screen and (max-width: 950px) {

    .Cart {
        padding: 2rem 0;
    }

    .Cart__items {
        padding: 2rem 0;
    }

    .Cart__info {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 1.5rem;
    }

    .Cart__info__details {
        margin-top: 0;
    }

    .Cart__subtotal {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 500px) {

    .Cart__form {
        width: 90%;
        min-width: 200px;
        padding: 1rem;
    }
}