/* Universal Styles */

* , *::before, *::after {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Asap', sans-serif;
  font-size: 1rem;
}

.App__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 1rem;
}

.App__navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.App__navbar__li {
  margin: auto 1rem;
}

.App__logout__button {
  border: 1px solid black;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.App__logout__button:hover {
  background-color: red;
  color: black;
}