.ProductDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 80%;
    min-width: 300px;
    margin: auto;
}

.ProductDetail__heading {
    text-align: center;
    margin-bottom: 1rem;
}