.ProductDetail {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
}

.ProductDetail__heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 360px) {

    .ProductDetail {
        padding: 2rem 1.5rem;
    }
}

@media only screen and (max-width: 300px) {

    .ProductDetail {
        padding: 2rem 0;
    }
}