.Order {
    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem 0;
}
.Order__info {
    border-bottom: 1px solid black;
}

.Order__info > * {
    margin: 0 1rem;
}

.Order__info, .Order__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
}

.Order__id {
    cursor: pointer;
}

.Order__id:hover {
    color: lightseagreen;
}

.Order__button {
    border: 1px solid black;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Order__button:hover {
    background-color: red;
    color: black;
}

.Order__image, .Order__address, .Order__payment {
    margin: 0 1rem;
}