.Order {
    border: 1px solid black;
    border-radius: 10px;
    margin: 1rem auto;
    width: 80%;
    min-width: 300px;
}

.Order__info {
    border-bottom: 1px solid black;
}

.Order__info > * {
    margin: 0 1rem;
}

.Order__info, .Order__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem 1rem;
}

.Order__id {
    cursor: pointer;
}

.Order__id:hover {
    color: lightseagreen;
}

.Order__button {
    min-width: 175px;
    border: 1px solid black;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-family: Impact, 'Anton', 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Order__button:hover {
    background-color: palevioletred;
    color: black;
}

.Order__image, .Order__address, .Order__payment {
    margin: 0 1rem;
}

.Order__image {
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    overflow: hidden;
}

.Order__shipping__info, .Order__total {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 1250px) {

    .Order {
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {

    .Order {
        width: 95%;
    }
}

@media only screen and (max-width: 900px) {

    .Order {
        width: 300px;
    }

    .Order__info, .Order__container {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .Order__info > * {
        margin: 0.25rem auto;
    }

    .Order__address, .Order__payment {
        margin: 1rem auto;
    }

    .Order__shipping__info {
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 350px) {

    .Order {
        padding: 0;
        width: 252px;
        min-width: 252px;
    }

    .Order__container {
        padding-top: 0;
    }
}