.OrderItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
    width: 50%;
}

.OrderItem__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.OrderItem__container {
    display: grid;
    place-items: center;
}

.OrderItem__label {
    background-color: whitesmoke;
    font-size: 0.8rem;
    padding: 0.25rem;
    border-radius: 5px;
}

.OrderItem__name {
    font-weight: lighter;
}

.OrderItem__quantity, .OrderItem__price, .OrderItem__total {
    font-size: 1.25rem;
}

.OrderItem__total {
    font-weight: bold;
}