.OrderItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    min-width: 300px;
    margin: 1rem auto;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid black;
    background-color: white;
}

.OrderItem__image {
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    overflow: hidden;
}

.OrderItem__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.OrderItem__container {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0 1rem;
}

.OrderItem__label {
    background-color: whitesmoke;
    font-size: 0.8rem;
    padding: 0.25rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}

.OrderItem__name {
    font-family: Ikaros;
}

.OrderItem__quantity, .OrderItem__price, .OrderItem__total {
    font-size: 1.25rem;
}

.OrderItem__total {
    font-weight: bold;
}

@media only screen and (max-width: 1250px) {

    .OrderItem {
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {

    .OrderItem {
        width: 95%;
    }
}

@media only screen and (max-width: 900px) {

    .OrderItem {
        width: 300px;
    }

    .OrderItem, .OrderItem__info {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .OrderItem__container {
        margin: 0.5rem auto;
    }
}

@media only screen and (max-width: 350px) {

    .OrderItem {
        padding: 0;
        width: 252px;
        min-width: 252px;
        overflow: hidden;
    }
}