.Orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.Orders__heading {
    text-align: center;
}

.Orders__content {
    margin: 2rem 0;
}

.Orders__label {
    font-size: 1.25rem;
}

.Orders__sort {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.Orders__list {
    width: 100%;
}

.Orders li {
    list-style: none;
}

@media only screen and (max-width: 400px) {

    .Orders {
        padding: 2rem 0;
    }
}

@media only screen and (max-width: 300px) {

    .Orders__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .Orders__label {
        display: block;
        margin-top: 2rem;
    }
    
    .Orders__sort {
        margin: 1rem auto;
    }
}