.Products {
    width: 100%;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.Products__label {
    font-size: 1.25rem;
}

.Products__category, .Products__sort {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 3rem 1rem 1rem;
    font-size: 1.25rem;
    cursor: pointer;
}

.Products__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Products li {
    list-style: none;
}

/* Media Queries */

@media only screen and (max-width: 600px) {

    .Products__label {
        display: block;
    }
    
    .Products__category, .Products__sort {
        margin: 1rem 0;
    }
}

@media only screen and (max-width: 400px) {

    .Products {
        padding: 0.5rem;
    }
}

@media only screen and (max-width: 320px) {

    .Products {
        padding: 0;
    }
}