.OrderDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.OrderDetail__heading {
    text-align: center;
}

.OrderDetail__item__heading {
    margin-top: 1rem;
}

.OrderDetail__list {
    width: 80%;
    margin: auto;
}

.OrderDetail li {
    list-style: none;
}