.OrderDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
    margin: auto;
}

.OrderDetail__heading {
    text-align: center;
}

.OrderDetail__item__heading {
    margin-top: 1rem;
    text-align: center;
}

.OrderDetail__list {
    width: 100%;
    margin: auto;
}

.OrderDetail li {
    list-style: none;
}


@media only screen and (max-width: 400px) {

    .OrderDetail {
        padding: 2rem 0;
    }
}