.Checkout {
    min-height: 100vh;
    margin: auto;
    background-color: whitesmoke;
    padding: 2rem;
}

.Checkout__success {
    font-size: 3rem;
}

.Checkout__form {
    margin: 0.25rem auto;
    padding: 2rem;
}

.Checkout__address, .Checkout__payment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Checkout__address__heading, .Checkout__payment__heading {
    margin: 1rem 0;
}

.Checkout__payment__heading {
    margin-top: 3rem;
}

.Checkout__label, .Checkout__input {
    width: 60%;
}

.Checkout__input, .Checkout__button {
    border: 1px solid black;
    padding: 0.75rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.Checkout__button {
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Checkout__button:hover {
    background-color: lightgreen;
    color: black;
}