.Checkout {
    min-height: 100vh;
    margin: auto;
    background-color: whitesmoke;
    padding: 2rem;
    width: 100%;
}

.Checkout__success {
    font-size: 3rem;
    text-align: center;
}

.Checkout__form {
    margin: 0.25rem auto;
    padding: 2rem;
    width: 80%;
    min-width: 300px;
}

.Checkout__address, .Checkout__payment {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.Checkout__address__heading, .Checkout__payment__heading {
    text-align: center;
    margin: 1rem 0;
}

.Checkout__payment__heading {
    margin-top: 3rem;
}

.Checkout__label, .Checkout__input {
    width: 100%;
}

.Checkout__input {
    border: 1px solid black;
    padding: 0.75rem;
    border-radius: 5px;
    margin: 0.5rem;
}

@media only screen and (max-width: 1100px) {

    .Checkout__form {
        width: 90%;
    }
}

@media only screen and (max-width: 1000px) {

    .Checkout__form {
        width: 95%;
    }
}

@media only screen and (max-width: 950px) {

    .Checkout {
        padding: 2rem 0;
    }
}

@media only screen and (max-width: 500px) {

    .Checkout__form {
        width: 90%;
        min-width: 200px;
        padding: 1rem;
    }
}