.SearchTerm {
    display: flex;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    min-width: 300px;
    margin: 2rem auto;
}

.SearchTerm__input {
    width: 100%;
    background: none;
    border-radius: 10px;
    padding: 0.75rem 2rem;
    outline: none;
}

.SearchTerm__icon {
    margin: 0.75rem 1rem;
}

.SearchTerm__icon.button {
    cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 1000px) {

    .SearchTerm {
        width: 80%;
    }
}

@media only screen and (max-width: 350px) {

    .SearchTerm {
        min-width: 200px;
    }
}