.Login {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
}

.Login__title, .Login__form__title, .Login__registerLink {
    text-align: center;
}

.Login__form {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 500px;
    min-width: 300px;
    margin: 2rem auto;
    padding: 3rem;
    background-color: white;
    box-shadow: 0 5px 10px rgba(145, 145, 165, 0.6);
}

.Login__form > * {
    margin: 0.25rem 0;
}

@media only screen and (max-width: 400px) {

    .Login {
        padding: 2rem 0;
    }
}

@media only screen and (max-width: 300px) {
    
    .Login__form {
        width: 90%;
        min-width: 200px;
        padding: 2rem 1rem;
    }
}