.Login {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    padding: 2rem;
}
.Login__form {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 400px;
    margin: 0.25rem auto;
    padding: 2rem;
}

.Login__label {
    margin: 0.5rem;
}

.Login__input, .Login__button, .Login__google__button {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.Login__button, .Login__google__button {
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Login__button:hover {
    background-color: lightseagreen;
    color: black;
}

.Login__google__button {
    margin: 0.5rem;
}

.Login__google__button:hover {
    background-color: lightsteelblue;
    color: black;
}