.Navbar {
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    border-bottom: 1px solid lightgray;
    overflow: hidden;
    z-index: 2;
}
  
.Navbar__title {
    font-family: Hal;
    font-size: 2rem;
    margin: auto 0.75rem;
}

.Navbar__div.home__icon {
    display: none;
}
  
.Navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
  
.Navbar__li {
    margin: auto 0.75rem;
}
  
.Navbar__div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
  
.Navbar__div p {
    margin-top: 0.25rem;
}

@media only screen and (max-width: 700px) {
    
    .Navbar {
        justify-content: center;
    }

    .Navbar__title {
        display: none;
    }
    
    .Navbar__div.home__icon {
        display: block;
        margin-right: 0.3rem;
    }
}

@media only screen and (max-width: 500px) {

    li:nth-child(4) {
        display: none;
    }
}

@media only screen and (max-width: 415px) {

    .Navbar__div p {
        display: none;
    }

    .fa-sign-in-alt, .fa-sign-out-alt {
        display: none;
    }
}

@media only screen and (max-width: 300px) {

    .Navbar__div.home__icon {
        margin: auto 0.5rem;
    }

    .Navbar__li {
        margin: auto 0.5rem;
    }
}