.Register {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    padding: 2rem;
}

.Register__title, .Register__loginLink {
    text-align: center;
}

.Register__form {
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 500px;
    min-width: 300px;
    margin: 0.25rem auto;
    padding: 2rem;
}

.Register__label {
    margin: 0.5rem;
}

.Register__input, .Register__button, .Register__google__button {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 5px;
    margin: 0.5rem;
}

.Register__button, .Register__google__button {
    background-color: black;
    color: white;
    font-size: 1.25rem;
    font-family: Impact, 'Anton', 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.Register__button:hover {
    background-color: lightseagreen;
    color: black;
}

.Register__google__button {
    margin: 0.5rem;
}

.Register__google__button:hover {
    background-color: lightsteelblue;
    color: black;
}

@media only screen and (max-width: 400px) {

    .Register {
        padding: 2rem 0;
    }
}

@media only screen and (max-width: 300px) {
    
    .Register__form {
        width: 90%;
        min-width: 200px;
        padding: 2rem 1rem;
    }
}